body{
    font-family: 'Lato', sans-serif;
    color: white;
}
.abc{
   color: black;
   font-size: 30px; 
}
.xyz{
    color: black;
    font-size: 20px;
}
#qwe{
    color: black;
    font-size: 30px;
}
